<a href="https://colab.research.google.com/github/logz254/Sign_Language_Interpretation_and_Generation/blob/main/Sign_Language_Interpretation_and_Generation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import keras

Mounting Google Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
dataset ='/content/drive/MyDrive/ksl dataset'

Training set

In [6]:
train_data=pd.read_csv('/content/drive/MyDrive/ksl dataset/Train/Train.csv')

In [7]:
train_data.head()

            img_IDS             Label
0  ImageID_33HMDMJ3            Temple
1  ImageID_V5POEX4O            Church
2  ImageID_89CCCCW6  Enough/Satisfied
3  ImageID_GNJXOWX5                Me
4  ImageID_7Q9LOP7R              Love

Test set

In [9]:
test_data=pd.read_csv('/content/drive/MyDrive/ksl dataset/Test/Test.csv')

In [10]:
test_data.head()

            img_IDS
0  ImageID_USRB8QNG
1  ImageID_SZ8D1ZJI
2  ImageID_4OJO2F8J
3  ImageID_IEE4XV0B
4  ImageID_BP0O0WZ9